name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get current tag
        id: current_tag
        run: echo "::set-output name=tag::$(git describe --abbrev=0 --tags)"
      - name: Increment version
        id: increment_version
        run: |
          VERSION=$(echo ${{ steps.current_tag.outputs.tag }} | awk -F'[.-]' -v OFS='.' '
            { $NF = $NF + 1; printf "%d%s%d%s%d", $1, OFS, $2, OFS, $3 }')
          echo "::set-output name=version::$VERSION"
      - name: Check for [skip ci]
        id: skip_ci
        run: echo "::set-output name=skip::$(if [[ $(git log -1 --pretty=%B) =~ \[skip\ ci\] ]]; then echo true; else echo false; fi)"
      - name: Login to GitHub Packages
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN}}
      - name: Build and push Docker image
        if: steps.skip_ci.outputs.skip != 'true'
        run: |
          docker build -t docker.pkg.github.com/duygumazak/restapi/myimage:${{ steps.increment_version.outputs.version }} .
          docker push docker.pkg.github.com/duygumazak/restapi/myimage:${{ steps.increment_version.outputs.version }}
      - name: Create Release
      
        if: steps.skip_ci.outputs.skip != 'true'
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: ${{ steps.increment_version.outputs.version }}
          release_name: Release ${{ steps.increment_version.outputs.version }}
          draft: false
          
          prerelease: false

          